<%- include('layouts/layout.top.ejs') %>

<table width="100%">
  <tr>
    <td>
      <p style="margin: 15px 0 12px 0; font-weight: bold; text-align: center">
        Backmeup Email Verification
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <div>
        Hello <%= user.first_name] %>. Welcome once more to Backmeup, your
        trusted data storage backer. One more step to complete your signup.
        Click the link below to verify your email.
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="margin: 12px 0 2px 0">
        <a
          href="<%= clientUrl %>/email/verify/<%= user.email_verification_token %>"
          style="color: #000; font-size: 1em"
        >
          <%= clientUrl %>/email/verify
        </a>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="margin-top: 10px">
        Should you be unable to use the link above, simply copy and paste this
        link in your browser to complete verification.
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="margin-top: 12px">
        <p
          style="margin: 0; color: #000; font-size: 1em; text-decoration: none"
        >
          <%= clientUrl %>/email/verify/<%= user.email_verification_token %>
        </p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="margin-top: 15px">
        <p style="margin: 0">Regards,</p>
        <p style="margin: 2px 0 0 0">Backmeup Support</p>
      </div>
    </td>
  </tr>
</table>

<%- include('layouts/layout.bottom.ejs') %>
