<%- include('layouts/layout.top.ejs') %>

<table width="100%">
  <tr>
    <td>
      <p style="margin: 15px 0 12px 0; font-weight: bold; text-align: center">
        Reset Your Backmeup Password
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <div>
        Hey there <%= user.first_name] %>. A password reset request was made on
        your Backmeup account. Click the link below to complete the process.
        Please note that the link expires in 15 minutes.
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="margin: 12px 0 2px 0">
        <a
          href="<%= clientUrl %>/password/reset/<%= user.password_reset.token %>"
          style="color: #000; font-size: 1em"
        >
          <%= clientUrl %>/password/reset
        </a>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="margin-top: 10px">
        Should you be unable to use the link above, simply copy and paste this
        link in your browser to complete the password reset process.
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="margin-top: 12px">
        <p
          style="margin: 0; color: #000; font-size: 1em; text-decoration: none"
        >
          <%= clientUrl %>/password/reset/<%= user.password_reset.token %>
        </p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="margin-top: 15px">
        <p style="margin: 0">Regards,</p>
        <p style="margin: 2px 0 0 0">Backmeup Support</p>
      </div>
    </td>
  </tr>
</table>

<%- include('layouts/layout.bottom.ejs') %>
