<%- include('layouts/layout.top.ejs') %>

<table
  width="600px"
  class="table__main"
  align="center"
  cellpadding="0"
  cellspacing="0"
  bgcolor="white"
>
  <tr>
    <td>
      <p
        style="
          margin: 0px 0 12px 0;
          font-size: 1.1em;
          font-weight: bold;
          text-align: center;
        "
      >
        Password Reset Request
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <div>
        Hey there <%= user.first_name %>. A password reset request was made on
        your Dome account. Click the link below to complete the process. Please
        note that the link expires in 15 minutes.
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="margin: 12px 0 2px 0">
        <a
          href="<%= clientUrl %>/password/reset/<%= user.password_reset.token %>"
          style="color: #000; font-size: 1em"
        >
          Reset your Dome password
        </a>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="margin-top: 10px">
        Should you be unable to use the link above, simply copy and paste this
        link in your browser to complete the password reset process.
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="margin-top: 12px">
        <p
          style="margin: 0; color: #000; font-size: 1em; text-decoration: none"
        >
          <%= clientUrl %>/password/reset/<%= user.password_reset.token %>
        </p>
      </div>
    </td>
  </tr>
</table>

<%- include('layouts/layout.bottom.ejs') %>
